.func-builder-block {
  width: 100px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: small;
}

.input-block-name {
  width: fill-available;
}

.input-block-type {
  width: fill-available;
}
