.func-builder-block {
  width: 100px;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: small;
}

.input-block-name .mantine-Input-input,
.output-block-name .mantine-Input-input
{
  width: fill-available;
  font-size: 20px;
  text-align: left;
}

.input-block-name, 
.output-block-name
{
  padding-top: 2px;
  padding-bottom: 2px;
}

.input-block-type-input .mantine-Input-input ,
.output-block-type-input .mantine-Input-input
{

  font-size: 13px;
  /* width: 80%; */
}


.input-block-idx-input .mantine-Input-input,
.output-block-idx-input .mantine-Input-input
{
  font-size: 14px;
  /* width: 80%; */
}

.input-block-type-input .mantine-Input-wrapper,
.output-block-type-input .mantine-Input-wrapper
{
  min-width: 145px;
  /* width: 80%; */
}

.input-block-idx-input .mantine-Input-wrapper,
.output-block-idx-input .mantine-Input-wrapper
{
  min-width: 40px;
  padding-left: 5px;
}

.func-block-func-name-select .mantine-Input-wrapper
{
  min-width: 190px;
  /* max-width: 120px; */
  word-wrap: break-word;
  overflow: hidden;
}

.func-block-type-switch .mantine-Input-wrapper 
{
  max-width: 150px;
  padding-top: 5px;
}

.func-builder-block {
  width: auto;
  height: 130px;
}

.block-type-desc {
  width: 90%;
}

.block-remove {
  width: 10%;
}

.block-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.solid-divider {
  border-top: 1px solid #888;
  width: 100%;
  margin: 5px 0px;
}

.connection-handle-wrapper {
  background-color: #aaa;
  /*border-radius: 50%;*/
  position: absolute;
  /*transform: translate(50px);*/
}

.connection-handle {
  width: 100%;
  height: 100%;
}


.connection-handle-icon {
  transform: translateY(-5px)
}

.block-container {
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
}

.func-svg {
  position: absolute;
  left: 0;
}

.node-menu-trigger-line {
  stroke: #000;
  stroke-width: 2;
}

.node-menu-item {
  font-size: 12px;
  margin: 2px;
  padding: 4px;
}

.node-menu-item a {
  text-decoration: none;
  color: #000; 
}



